<div class = "page">
	<div class="heading">
	<%= image_tag("TABanner3.jpg", :alt => "Banner") %>
	<center>All Rounds</center><br>
	</div> 

<!-- ***Navigation Bar*** -->
<center>
<p>
	<%= link_to questions_path, class: 'btn btn-nav' do %>
		<i class="glyphicon glyphicon-circle-arrow-left"></i> Questions 
	<% end %>
	<%= link_to new_round_path, class: 'btn btn-new' do %>
		<i class="glyphicon glyphicon-plus"></i> Create Round
	<% end %>
	<%= link_to play_index_path, class: 'btn btn-gray' do %>
		<i class="glyphicon glyphicon-align-justify"></i> Main Menu
	<% end %>
	<%= link_to play_game_path, class: 'btn btn-nav' do %>
		<i class="glyphicon glyphicon-circle-arrow-right"></i> Games
	<% end %>
</p>
</center>

<table class="table table-hover"> 
	<thead bgcolor="#6bbeff">
		<tr>
			<th>No.</th> 
			<th>ID</th> 
			<th></th>
			<th>Round</th>
		</tr>
	</thead>
	<tbody>
		<% i = 1 %>
		<% @rounds.each do |rnd| %> 
			<tr> 
				<td> <%= i %> </td>
				<% i = i.to_i() + 1 %> <!-- Casts the iterator from string to integer, so it can be incremented. -->
				<td> <%= rnd.id %> </td> <!-- adds round numbers to the index -->
				<td>
					<%= link_to edit_round_path(rnd), class: 'btn btn-gray btn-xs' do %>
						<i class="glyphicon glyphicon-pencil"></i> Edit
					<% end %>

					<%= link_to rnd,
            		  method: :delete,
            		  data: { confirm: 'Are you sure you want to destroy this round?' }, class: 'btn btn-gray btn-xs' do %>
            		  <i class="glyphicon glyphicon-remove"></i> Delete
					<% end %>
				</td>
				<td>
				<%= link_to rnd.title, rnd %> <!-- This line needs syntax that makes the links go somewhere useful. -->
				</td>
			</tr>
		<% end %> 
	</tbody>
</table>
</div>